<div class="bg-[#1c120c] border border-white/10 rounded-none shadow-2xl shadow-black/50 p-6">
 <div class="services-dropdown-inner">
  <div class="services-dropdown-col">
   <div class="services-dropdown-group">
    <a href="/stroitelstvo/karkasnye-doma" class="services-dropdown-title">Строительство</a>
    <div class="services-dropdown-links">
     <a href="/stroitelstvo/karkasnye-doma">Каркасные дома</a>
    </div>
   </div>
   <div class="services-dropdown-group">
    <a href="/shlifovka" class="services-dropdown-title">Шлифовка</a>
    <div class="services-dropdown-links">
     <a href="/otdelka/shlifovka/sruba">Шлифовка срубов</a>
     <a href="/otdelka/shlifovka/ocilindrovannogo-brevna">Шлифовка дома из оцилиндрованного бревна</a>
     <a href="/otdelka/shlifovka/brusa">Шлифовка дома из бруса</a>
     <a href="/otdelka/shlifovka/lafeta">Шлифовка лафета</a>
    </div>
   </div>
   <div class="services-dropdown-group">
    <a href="/teplyy-shov" class="services-dropdown-title">Тёплый шов/Конопатка</a>
   </div>
   <div class="services-dropdown-group">
    <a href="/obsada" class="services-dropdown-title">Обсада</a>
    <div class="services-dropdown-links">
     <a href="/obsada">Обсада / Окосячка</a>
     <a href="/obsada/okna">Окна</a>
     <a href="/obsada/dveri">Двери</a>
    </div>
   </div>
   <div class="services-dropdown-group">
    <a href="/injeneriya" class="services-dropdown-title">Инженерия</a>
   </div>
  </div>
  <div class="services-dropdown-col">
   <div class="services-dropdown-group">
    <a href="/otdelochnye-raboty" class="services-dropdown-title">Отделочные работы</a>
    <div class="services-dropdown-links">
     <a href="/pokraska">Покраска</a>
     <a href="/otdelka/sten">Отделка стен</a>
     <a href="/otdelka/pola">Отделка пола</a>
    </div>
   </div>
   <div class="services-dropdown-group">
    <a href="/kryshi" class="services-dropdown-title">Крыши</a>
   </div>
   <div class="services-dropdown-group">
    <a href="/proizvodstvo" class="services-dropdown-title">Производство</a>
    <div class="services-dropdown-links">
     <a href="/proizvodstvo/besedki">Беседки</a>
     <a href="/proizvodstvo/falshbalki">Фальшбалки</a>
     <a href="/proizvodstvo/plintusy">Плинтусы</a>
    </div>
   </div>
  </div>
 </div>
</div>
